BD/
Discretization/
Graficos_Benchmark/
Diversity/

Metaheuristics/__pycache__
Metaheuristics/Codes/__pycache__
Metaheuristics/Codes/EOO.py
Metaheuristics/Codes/FOX.py
Metaheuristics/Codes/GA.py
Metaheuristics/Codes/GOA.py
Metaheuristics/Codes/GWO.py
Metaheuristics/Codes/HBA.py
Metaheuristics/Codes/PSA.py
Metaheuristics/Codes/PSO.py
Metaheuristics/Codes/RSA.py
Metaheuristics/Codes/SCA.py
Metaheuristics/Codes/SHO.py
Metaheuristics/Codes/TDO.py
Metaheuristics/Codes/WOA.py
Metaheuristics/imports.py

Problem/
Resultados/
Solver/__pycache__/
util/

analisisBEN.py
crearBD.py
graficosBenchmark.py
main.py
prueba.py

Explicacion_Funciones_Matematicas.pdf
Explicacion_Set_Covering_Problem.pdf
Manual de Usuario - Solver_Doctorado-2.pdf
Manual_de_Usuario___Solver_Set_Covering_Problem.pdf
requirements.txt